<h3>Products</h3>



<% counter = 0 %>

<div class="row">
  <% if @products.any? %>
    <% @products.each do |product| %>
      <div class="col">
        <h4 id="<%= product.name %>"><%= product.name  %></h4>
        <%= image_tag product.photo.url(:medium) %>
        <br>
        <small><%= link_to 'Show', product, remote: true %></small>
        <p class="hidden" id="ProdDesc<%= product.id %>"><%= product.description %></p>
        <p><%= number_to_currency product.price %></p>
        <%= form_for @order_item, remote: true do |f| %>
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.number_field :quantity, in: 1.0..20.0, value: 1, placeholder: "Oops, breaks if you don't add input!", html: { :class => 'cartAdd'  } %>
          <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
          <% if current_user && current_user.admin %>
            <span>
              <%= link_to "Edit", edit_product_path(product) %> |
              <%= link_to "Delete", product_path(product),
                                       :data => {:confirm => "Are you sure?",
                                                      :method => "delete"} %>
            </span>
          <% end %>
        </div>
        <% counter += 1%>
        <% if counter == 3 %>
          <% counter = 0 %>
          </div>
          <hr>
          <div class="row">
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
